.footer {
    margin-top: 60px;
    background: linear-gradient(102.87deg, #FCEED5 6.43%, #FCEED5 78.33%, #FFE7BA 104.24%);
    border-radius: 40px 40px 0px 0px;

}

.footer__container {
    padding-top: 80px;
}

.footer__top-block {
    padding: 32px;
    background: #003459;
    border-radius: 16px;
    display: flex;
    align-items: center;

}

.footer__top-title {
    max-width: 389px;
    font-family: 'SVN-Gilroy';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 36px;
    color: #FDFDFD;
}

.footer__input {
    width: 508px;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #99A2A5;
    padding: 14px 28px;
    background: #FFFFFF;
    border: 1px solid #99A2A5;
    border-radius: 8px;
}

.footer__form-button {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #FDFDFD;
    width: 163px;
    height: 48px;
    background: #003459;
    border-radius: 8px;
    border: none;
    margin-left: 7px;
}

.footer__form {
    max-width: 707px;
    background: #FFFFFF;
    border-radius: 14px;
    padding: 12px;
}

.footer__list {
    width: 410px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__top-little {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 40px;
    border-bottom: 1px solid #CCD1D2;
}

.footer__link {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #00171F
}

.footer__list-1 {
    display: flex;
    align-items: center;
    gap: 40px;
}

.footer__bottom-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    padding-bottom: 40px;
}

.footer__bottom-img-1 {
    width: 115px;
    height: 40px;
}

.footer__bottom-text-1 {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #667479;
}

.footer__bottom-text-2 {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: #667479;
}

.footer__bottom-block-1 {
    display: none;
}
.footer__span-1{
    margin-left: 20px;
}


@media screen and (max-width:1200px) {

    .footer__top-block {
        max-width: 578px;
        display: flex;
        flex-direction: column;
        padding: 32px 16px;
        margin-left: auto;
        margin-right: auto;
    }

    .footer__top-title {
        max-width: 500px;
        margin-bottom: 16px;
    }

    .footer__input {
        max-width: 255px;
    }

    .footer__form {
        width: 100%;
    }

    .footer__form-button {
        width: 255px;
    }

    .footer__top-little {
        display: flex;
        flex-direction: column;
    }

    .footer__list {
        margin-bottom: 20px;
        justify-content: space-between;
    }

    .footer__bottom-block {
        display: none;
    }

    .footer__bottom-text-2 {
        font-size: 12px;
        line-height: 18px;
    }

    .footer__bottom-text-1 {
        font-size: 10px;
        line-height: 16px;
    }

    .footer__bottom-block-1 {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 26px;

    }

    .footer__bottom-img-1 {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 32px;
    }

    .footer__bottom-text-1 {
        margin-top: 8px;
        margin-bottom: 11px;
    }


}

@media screen and (max-width:630px) {
    .footer__top-block {
        max-width: 382px;
        display: flex;
        flex-direction: column;
        padding: 16px 16px;
        margin-left: auto;
        margin-right: auto;
    }

    .footer__top-title {
        width: 100%;
    }

    .footer__input {
        max-width: 100%;
    }

    .footer__form-button {
        width: 100%;
        margin-left: 0;
        margin-top: 12px;
    }

    .footer__list {
        max-width: 100%;
    }

    .footer__link {
        font-size: 16px;
        line-height: 24px;
        max-width: 65px;
    }
}